/* src/App.css */

.app-container {
  display: flex;
  height: 100vh;
  overflow: hidden; /* Prevent scrolling */
}

.home-section {
  margin-left: 78px; /* Closed sidebar width */
  width: calc(100% - 78px);
  transition: margin-left 0.5s ease, width 0.5s ease;
  overflow: hidden; /* Prevent overflow */
  position: relative;
  background: #e4e9f7;
}

.sidebar.open ~ .home-section {
  margin-left: 250px; /* Open sidebar width */
  width: calc(100% - 250px);
}

.subtitle-container {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  z-index: 12;
}

.subtitle-text {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;
  font-size: 1.2rem;
}

.home-container {
  width: 100%;
  height: 100%;
}

/* Responsive Design */
@media (max-width: 420px) {
  .home-section {
    margin-left: 78px;
    width: calc(100% - 78px);
  }

  .sidebar.open ~ .home-section {
    margin-left: 250px;
    width: calc(100% - 250px);
  }
}
