<<<<<<< Updated upstream
/* src/components/MenuButton2.css */

=======
>>>>>>> Stashed changes
@import url('https://fonts.googleapis.com/css2?family=Product+Sans&display=swap');

.open {
    position: fixed;
    top: 80px;
    right: 80px;
    width: 80px;
    height: 80px;
    display: block;
    cursor: pointer;
    transition: opacity 0.2s linear;
    z-index: 100; 
}

.open:hover {
    opacity: 0.8;
}

.open span {
    display: block;
    float: left;
    clear: both;
    height: 6px;
    width: 60px;
    border-radius: 60px;
    background-color: #fff;
    position: absolute;
    right: 6px;
    top: 6px;
    overflow: hidden;
    transition: all 0.4s ease;
}

.open span:nth-child(1) {
    margin-top: 18px;
    z-index: 9;
}

.open span:nth-child(2) {
    margin-top: 40px;
}

.open span:nth-child(3) {
    margin-top: 62px;
}

.sub-menu {
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    height: 0;
    width: 0;
    right: 0;
    top: 0;
    position: absolute;
    background-color: rgba(38, 84, 133, 0.54);
    border-radius: 50%;
    z-index: 18;
    overflow: hidden;
}

.sub-menu li {
    display: block;
    float: right;
    clear: both;
    height: auto;
    margin-right: -220px;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    margin-bottom: 20px; /* Ensure consistent spacing */
}

.sub-menu li:first-child {
    margin-top: 250px;
}

.sub-menu li:nth-child(1) {
    transition-delay: 0.05s;
}

.sub-menu li:nth-child(2) {
    transition-delay: 0.10s;
}

.sub-menu li:nth-child(3) {
    transition-delay: 0.15s;
}

.sub-menu a {
    color: #fff;
    font-family: 'Product Sans', Arial, Helvetica, sans-serif;
<<<<<<< Updated upstream
    font-size: 32px; 
    width: 100%;
    display: block;
    float: left;
    line-height: 70px; 
    text-decoration: none;
    padding-left: 10px;
    margin-top: 30px; 
=======
    font-size: 24px;
    width: 100%;
    display: block;
    float: left;
    line-height: 60px;
    text-decoration: none;
    padding-left: 20px;
>>>>>>> Stashed changes
}

.open:hover .sub-menu {
    opacity: 1;
    height: 600px; 
    width: 600px; 
}

.open:hover span:nth-child(2) {
    overflow: visible;
}

.open:hover span:nth-child(1),
.open:hover span:nth-child(3) {
    z-index: 100;
    transform: rotate(45deg);
}

.open:hover span:nth-child(1) {
    transform: rotate(45deg) translateY(18px) translateX(18px);
}

.open:hover span:nth-child(2) {
    height: 600px;
    width: 600px;  
    right: -220px;
    top: -220px;
    border-radius: 50%;
    background-color: rgba(38, 84, 133, 0.54);
}

.open:hover span:nth-child(3) {
    transform: rotate(-45deg) translateY(-18px) translateX(18px);
}

.open:hover li {
    margin-right: 236px;  
}
