/* src/Record/Record.css */

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; 
}

.record-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-element {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scaleX(-1); 
  transition: filter 0.5s;
}

.video-element.blurred {
  filter: blur(10px);
}

.video-element.visible {
  filter: none;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.record-button {
  background-color: rgb(85, 85, 224);
  border: none;
  border-radius: 50%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 11;
}

.record-icon {
  color: rgb(214, 214, 255);
  font-size: 48px;
}

.countdown-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 11;
  font-size: 48px;
  color: white;
}

.save-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 12;
  color: white;
  margin: 10px; 
  padding: 20px; 
}

.save-overlay input {
  padding: 15px; 
  font-size: 22px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  width: 20%; 
}

.save-overlay button {
  background-color: rgb(85, 85, 224);
  border: none;
  border-radius: 5px;
  padding: 15px 30px;
  margin: 10px;
  color: white;
  cursor: pointer;
}

.save-overlay button:hover {
  background-color: rgb(49, 49, 150);
}
